@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #ffffff;
}
nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #fff;
  height: 110px;
}
nav .wrapper{
  position: relative;
  max-width: 1500px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo{
  padding-top: 50px;
  
}

nav .call{
  padding-top: 55px;
}
.wrapper .nav-links{
  display: inline-flex;
  padding-top: 35px;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #0a0a0a;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  color: #29e6ff;
  border-bottom: 1px #29e6ff solid;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
    position: absolute;
    background: #fff;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
  .nav-links li:hover .drop-menu,
  .nav-links li:hover .mega-box{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
  }
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
  color: rgb(10, 10, 10);
}
.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
      background: rgba(201, 38, 32, 0.89);
      padding: 25px 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}

  .content .row header{
    color: #f7f3f3;
    font-size: 20px;
    font-weight: 500;
    
  }
  .content .row .mega-links{
    margin-left: -40px;
    border-left: 1px solid rgba(0, 0, 0, 0.09);
  }
  .row .mega-links li{
    padding: 0 20px;
  }
  .row .mega-links li a{
    padding: 0px;
    padding: 0 20px;
    color: rgb(255, 250, 250);
    font-size: 12px;
    display: block;
  }
.row .mega-links li a:hover{
  color: rgb(139, 114, 114);
}
.internet{
 border-top: 2px #fff solid;
 padding-left: 35px;
}

/*mrnu bar*/
.wrapper .btn{
  color:rgb(0, 0, 0);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

/*mobile view codes*/ 
@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
   /* navbar background */
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #ffffff;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  /*  scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu,
  #showMega:checked ~ .mega-box{
    max-height: 100%;
  }
  #showDrop:checked ~ .drop-menu,
  #showservices:checked ~ .mega-box{
    max-height: 100%;
  }

  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #5d8cbb;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }
  .mega-box{
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content{
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .content .row{
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(204, 62, 27, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2){
    border-top: 0px;
  }
  .content .row .mega-links{
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li{
    margin: 0;
  }
  .content .row header{
    font-size: 19px;
  }
}
nav input{
  display: none;
}
     
    
     
    /*body content*/ 

      .row{
       display: block;
       padding: 100px 0;
       justify-content: space-between;
       
      }
      .row img{
          max-width: 100%;
          margin: auto;
          border-bottom: #000000 2px solid;
      }
     .siyam{
        padding-left: 20px;
        margin:auto;
     }
    
.siyam p{
  color: #14181f;
  font-size: 12px;
  margin:auto;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: justify;
  font-weight: 500;

        
     
    }
.siyam header{
  padding-top: 20px;
        padding-left: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: #000000;
      
    }
.siyam h2{
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  text-transform: uppercase;
  color: #06a53b;
  }
.col p{
        font-size: 14px;
        
    }
.col p i{
        color: rgb(8, 151, 207);
        font-size: 20px;
        padding-right: 8px;
    }
.col  a{
      color: green;
      text-decoration: none;
    }
.col a:hover{
      color: red;
    }
h5{
     padding-left: 25px;
     padding-top: 15px;
     color: darkgreen;
   }
h4{
  padding: 10px 25px;
  color: #000000;
}
.other{
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
  font-weight: 600;
  color: #000000;
  
}
.other i{
  color: rgb(8, 151, 207);
        font-size: 20px;  
        padding-right: 8px;
}
h6{
  padding-top: 60px;
  font-size: 25px;
  padding-left: 20px;
  color: #000000;
}
.col-2{
                                                  
  padding-left: 20px;
}
.col-2 i{
  color: rgb(8, 151, 207);
    font-size: 20px;
    padding-top: 10px;
  }

.profile{
        padding-top: 40px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 15px;
        color: #000000;
      }
    
b{
  color: #000000;
}
    
.bk i{
  color: #29e6ff;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 0px;

}
.bk i:hover{
  color: #5d8cbb;
}
